<% content_for :title do %>
	Add a new post
<% end %>

<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<h2>Enter a new post</h2>
<form id="posts_form" action="posts/" method="post">
	<textarea name="content" rows="4" cols="50"></textarea>
	<input type="submit" value="submit post">
</form>