<% content_for :title do %>
	Add a new user
<% end %>

<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<h2>Please enter your new account information</h2>
<form id="posts_form" action="" method="post">
	<label for="first_name">First Name:</label>
	<input type="text" name="first_name" >
	<label for="first_name">Last Name:</label>
	<input type="text" name="last_name" >
	<label for="first_name">Email:</label>
	<input type="text" name="email" >
	<input type="submit" value="create account">
</form>